body{
    background-color: #CFE8D5;
}

.card1 {
    background-color: #e56aae;
}

.nav1 {
    background-color: #260da0;
}

.nav2 {
    background-color: #6B9B7A;
}

.active-link{
    color: #d9ffe6 !important;
    font-weight: bold;
}

.imagen-historia{
    max-height: 320px;
    width: auto;
}

.card-body p{
    line-height: 1.8;
}

