{% extends "base.html" %}

{% block titulo %}Mi Ritmo, Mi Salud{% endblock %}

{% block contenido %}

<section class="container pt-4">

    <div class="row mb-4 justify-content-center align-items-center">
        <div class="col-12">

            <div class="card card3 mb-3">

                <div class="card-header nav2 text-white">
                    Temas Selectos de Matematicas - Mi Ritmo, Mi Salud
                </div>

                <div class="card-body">

                    <div class="mb-5">

                        <h3 class="border-bottom border-success pb-2">
                            El cuerpo como sistema complejo
                        </h3>

                        <div class="row mt-4">

                            <div class="col-12">
                                <p>
                                    El cuerpo humano funciona como un sistema complejo donde
                                    diferentes partes interactúan constantemente. <br>
                                    El sueño, el estrés, la energía y el corazón están conectados,
                                    y pequeños cambios en uno de ellos pueden afectar a todo el organismo. <br>
                                    <strong>Las ciencias de la complejidad</strong> estudian este tipo de sistemas,
                                    donde existen patrones, adaptación y cambios constantes.
                                </p>
                                <p>El cuerpo humano cambia constantemente para adaptarse al entorno. Sistemas como el
                                    nervioso,
                                    el circulatorio y el respiratorio trabajan juntos para mantener el equilibrio del
                                    organismo.
                                    Cuando uno de estos sistemas se altera, los demás también pueden verse afectados.
                                </p>
                                <p>Las ciencias de la complejidad ayudan a comprender que muchas
                                    funciones del cuerpo no pueden analizarse por separado, ya que todas dependen de interacciones constantes.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5">

                        <h3 class="border-bottom border-success pb-2">
                            Fractales en el cuerpo humano
                        </h3>

                        <p>
                            El cuerpo humano utiliza patrones repetitivos llamados fractales
                            para funcionar de manera eficiente.
                        </p>
                        <p><strong>Los fractales</strong> permiten que estructuras muy grandes puedan organizarse dentro
                            de espacios
                            pequeños. Por ejemplo, la red bronquial de los pulmones crea una enorme superficie para el
                            intercambio de oxígeno dentro de la cavidad torácica.</p>
                        <p><strong>El sistema circulatorio</strong> utiliza ramificaciones repetitivas para transportar
                            sangre, oxígeno y
                            nutrientes a cada célula del cuerpo utilizando la menor cantidad posible de energía.</p>
                        <p><strong>El ADN</strong> no necesita almacenar la forma exacta de cada vaso sanguíneo, sino
                            instrucciones
                            repetitivas de crecimiento que generan estos patrones automáticamente</p>
                        <div class="row text-center mt-4 justify-content-center">

                            <div class="col-md-5 mb-3">
                                <div class="card card2 h-100 shadow-sm">
                                    <div class="card-body">

                                        <img src="{{ url_for('static', filename='img/pulmon.jpg') }}"
                                            class="img-fluid card2 img-thumbnail w-50 rounded-4" alt="Pulmones">

                                        <h5 class="mt-3">
                                            Pulmones
                                        </h5>

                                        <p>
                                            Las ramificaciones pulmonares permiten transportar oxígeno
                                            utilizando menos espacio.
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 mb-3">
                                <div class="card card2 h-100 shadow-sm">
                                    <div class="card-body">

                                        <img src="{{ url_for('static', filename='img/sistema.jpeg') }}"
                                            class="img-fluid card2 img-thumbnail w-50 rounded-4"
                                            alt="Sistema circulatorio">

                                        <h5 class="mt-3">
                                            Sistema circulatorio
                                        </h5>

                                        <p>
                                            Los vasos sanguíneos se dividen en redes más pequeñas
                                            para distribuir nutrientes y oxígeno.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5">

                        <h3 class="border-bottom border-success pb-2">
                            Variabilidad de la Frecuencia Cardíaca
                        </h3>

                        <p>
                            El corazón no late exactamente igual todo el tiempo.
                            La diferencia entre cada latido se conoce como <strong>Variabilidad de la Frecuencia Cardíaca</strong>
                             (VFC). <br>
                            La VFC está regulada por el sistema nervioso autónomo, encargado de ajustar el ritmo
                            cardíaco
                            según las condiciones físicas y emocionales del cuerpo.</p>
                        <p>Aunque el corazón parece latir de manera regular, el tiempo entre cada latido cambia
                            ligeramente. Esta variación es completamente normal y refleja la capacidad del cuerpo para
                            adaptarse al estrés, el ejercicio, el descanso y las emociones.</p>
                        <p>Un corazón saludable <strong>cambia constantemente</strong> dependiendo de las necesidades del organismo.</p>

                        <h5>Diferencia entre un corazón saludable y uno con problemas</h5>
                        <div class="row mt-4">

                            <div class="col-md-6 mb-3">

                                <div class="card card2 border-success h-100">

                                    <div class="card-body">

                                        <h5 class="text-success">
                                            <i class="bi bi-heart-fill me-2"></i>
                                            Corazón saludable
                                        </h5>

                                        <ul>
                                            <li>Tiene mayor variación entre latidos.</li>
                                            <li>Se adapta a los cambios del cuerpos.</li>
                                            <li>Se mantiene constante independiente al tiempo</li>
                                            <li>Esta relacionado con un buen equilibrio estres, descanso, <br>actividad
                                                fisica y un sistema cardiovascular eficiente.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">

                                <div class="card card2 border-danger h-100">

                                    <div class="card-body">

                                        <h5 class="text-danger">
                                            <i class="bi bi-heartbreak-fill me-2"></i>
                                            Baja variabilidad
                                        </h5>

                                        <ul>
                                            <li>Presenta poca variación entre latidos y el ritmo es más rigido</li>
                                            <li>Reacciona demasiado o casi nada ante los cambios</li>
                                            <li>La señal se vuelve muy predecible o aleatoria.</li>
                                            <li>Se relaciona con estrés, fatiga, mala calidad de sueño o <br> posibles
                                                problemas cardiacos.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="mb-5">

                        <h3 class="border-bottom border-success pb-2">
                            Sueño y salud cardíaca
                        </h3>

                        <p>
                            Cuando una persona duerme pocas horas, el cuerpo permanece en estado de alerta y libera
                            hormonas relacionadas con el estrés. Esto provoca que el corazón trabaje más rápido y que
                            disminuya la capacidad de recuperación del organismo.
                        </p>
                        <p>El <strong>sueño profundo</strong> permite reducir la frecuencia cardíaca y facilita procesos importantes de
                            reparación celular y recuperación física. <br> El <strong>estrés</strong> y la <strong>falta de descanso</strong> reducen la
                            complejidad del sistema cardiovascular, haciendo
                            que el corazón tenga menos capacidad para adaptarse a los cambios.</p>
                        <h5>¿Qué pasa cuando no dormimos bien?</h5>
                        <div class="row mt-4">

                            <div class="col-md-4 mb-3">

                                <div class="card card2 h-100 shadow-sm">

                                    <div class="card-body text-center">

                                        <img src="{{ url_for('static', filename='img/apnea.png') }}"
                                            class="img-fluid card2 img-thumbnail w-75 rounded-4" alt="Apnea del sueño">

                                        <h5 class="mt-3">
                                            Apnea del sueño
                                        </h5>

                                        <p class="text-start">
                                            La apnea del sueño provoca pausas en la respiración mientras la persona
                                            duerme. Estas interrupciones reducen la calidad del descanso y obligan al
                                            corazón a trabajar más para mantener el oxígeno en el cuerpo. Como
                                            consecuencia, pueden producirse cambios bruscos en la frecuencia cardíaca y
                                            mayor fatiga durante el día.
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">

                                <div class="card card2 h-100 shadow-sm">

                                    <div class="card-body text-center">

                                        <img src="{{ url_for('static', filename='img/privacion.png') }}"
                                            class="img-fluid card2 img-thumbnail w-75 rounded-4"
                                            alt="Privacion del sueño">

                                        <h5 class="mt-3">
                                            Privación del sueño
                                        </h5>

                                        <p class="text-start">
                                            Dormir pocas horas mantiene al cuerpo en estado de alerta y aumenta la
                                            liberación de hormonas relacionadas con el estrés. Esto eleva la frecuencia
                                            cardíaca, reduce la recuperación física y disminuye la capacidad del
                                            organismo para adaptarse correctamente
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">

                                <div class="card card2 h-100 shadow-sm">

                                    <div class="card-body text-center">

                                        <img src="{{ url_for('static', filename='img/circadiano.png') }}"
                                            class="img-fluid card2 img-thumbnail w-75 rounded-4"
                                            alt="Ritmos circadianos">

                                        <h5 class="mt-3">
                                            Ritmos circadianos alterados
                                        </h5>

                                        <p class="text-start">
                                            El cuerpo sigue un reloj biológico llamado ritmo circadiano, encargado de
                                            regular el sueño, la energía y diferentes funciones del organismo. Alterar
                                            constantemente los horarios de descanso puede provocar cansancio, problemas
                                            de concentración y cambios en los patrones cardíacos.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5>
                            Conexión con la Química del Sueño
                        </h5>

                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered align-middle">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Sustancia</th>
                                            <th>Efecto Químico </th>
                                            <th>Efecto en Patrones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cortisol</strong>
                                            <td>Cuando se activa libera
                                                glucosa y energía rápida;
                                                esto provoca que el ritmo
                                                cardíaco se acelere y la
                                                presión arterial suba para
                                                sacarnos del estado de
                                                reposo en las mañanas</strong>
                                            <td>Cambia el ritmo de las
                                                ondas cerebrales de un
                                                patrón lento a uno rápido
                                                para iniciarl el dia con
                                                mas energia</strong>
                                        </tr>
                                        <tr>
                                            <td>Melatonina</strong>
                                            <td>Cuando llega la noche
                                                reduce la oxidación
                                                celular y baja la
                                                temperatura central del
                                                cuerpo, lo que genera
                                                una relajación muscular y
                                                sueño en nuestro
                                                cuerpo.</strong>
                                            <td>El sistema nervioso repita
                                                los ciclos de sueño una y
                                                otra vez durante toda la
                                                noche </strong>
                                        </tr>
                                        <tr>
                                            <td>Adenosina</strong>
                                            <td>Al gastar energía la
                                                adenosina se acumula y
                                                bloquea los
                                                neurotransmisores de la
                                                alerta, causando que el
                                                cerebro se sienta pesado
                                                y el cuerpo experimente
                                                fatiga.</strong>
                                            <td>En este caso se podría
                                                decir que va llenando las
                                                raíces del cerebro hasta
                                                que nos obliga a dormi</strong>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h3 class="border-bottom border-success pb-2">
                            Hábitos saludables
                        </h3>
                        <div class="card card2 h-100 shadow-sm">
                            <div class="card-body">
                                <h5>Recomendaciones</h5>
                                <p><strong>Pequeños cambios en los hábitos diarios pueden mejorar significativamente la
                                        calidad del sueño y la salud cardiovascular.</strong><br>Aqui hay una lista de
                                    cosas que pueden ayudarte:</p>
                                <ul class="mb-0">
                                    <li>Dormir entre 7 y 9 horas.</li>
                                    <li>Reducir el uso del celular antes de dormir.</li>
                                    <li>Mantener horarios de sueño regulares.</li>
                                    <li>Hacer actividad física.</li>
                                    <li>Reducir situaciones de estrés prolongado.</li>
                                    <li>Mantener una buena alimentación.</li>
                                    <li>Reducir el consumo de cafeína por la noche.</li>
                                    <li>Evitar dormir muy tarde constantemente.</li>
                                    <li>Evitar comidas pesadas antes de dormir.</li>
                                    <li>Mantener una buena hidratación.</li>
                                    <li>Tener un ambiente oscuro y silencioso al dormir</li>
                                    <li>Practicar técnicas de relajación o respiración.</li>
                                    <li>Organizar mejor las actividades diarias para reducir fatiga.</li>
                                    <li>Descansar adecuadamente después de actividades físicas.</li>
                                    <li>Escuchar las señales de cansancio del cuerpo.</li>
                                </ul> <br>
                                <p>Cuidar nuestros hábitos diarios permite que el cuerpo mantenga un <strong>mejor equilibrio
                                    físico y mental</strong>. Dormir adecuadamente, reducir el estrés y mantener una rutina
                                    saludable favorece la <strong>recuperación del organismo</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}